[submodule "src/rct"]
	path = src/rct
	url = https://github.com/Andersbakken/rct
	branch = add-blob-type
[submodule "src/selene"]
	path = src/selene
	url = https://github.com/jeremyong/Selene.git
    branch = master
[submodule "src/lua"]
	path = src/lua
	url = https://github.com/LuaDist/lua.git
    branch = master
[submodule "src/SQLiteCpp"]
	path = src/SQLiteCpp
	url = https://github.com/ngkaho1234/SQLiteCpp
	branch = WAL
